<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Slice</title>
</head>
<body>
  <h2>The best Players</h2>
  <ul>
  {{range .Jugadores}}
    <li>Player: {{.Name}}</li>
    <li>No: {{.No}}</li>
  {{end}}
  </ul>
  <h2>The best Teams</h2>
  <ul>
  {{range .Equipos}}
    <li>Player: {{.Name}}</li>
    <li>Years old: {{.Years}}</li>
    <li>Player No.: {{.NoPlayers}}</li>
  {{end}}
  </ul>
</body>
</html>